
[Settings]
ConsoleLogLevel = 'INFO' # Logging level (e.g., INFO, WARNING, ERROR)
FileLogLevel = 'WARNING' # File logging level (e.g., INFO, WARNING, ERROR)
areas = ["CM", "HW"] # List of areas for the /question command
SHLINK_API_URL = 'https://shlink.domain.com' # URL of the Shlink API
NAAS_API_URL = 'https://naas.domain.com' # URL of the NAAS API

[Database]
DB_USER = 'user' # Database username
DB_HOST = 'localhost' # Database host
DB_PORT = '5432' # Database port
DB_NAME = 'database' # Database name
DB_TEAM = 'team' # Team database name
DB_QUIZ = 'quizdb' # Quiz database name
DB_API = 'api' # API database name

[Database.bases]
hrBase = 'qwertyuiop12345'

[Whitelist]
General = ['@everyone'] # Telegram usernames allowed bot access
cron = '*/30 * * * *' # Cron schedule for refreshing the whitelist (default: every 30 minutes)
Quiz = ['@it', '@sw', '@user123'] # Telegram usernames allowed to use quiz admin features
QRcodeGroups = ['-GroupID', '-GroupID'] # List of Telegram group IDs where QR code features are allowed

[Features]
InLabIntegration = true # Enable or disable InLab integration (inlab and ore)
DatabaseIntegration = false # Enable or disable Database integration (tags, mentions, inlab, quiz logging, whitelist)
ODGCommand = false # Enable or disable the /odg command
ShopCommand = false # Enable or disable the /shop command
IDCommand = false # Enable or disable the /info command
MentionHandler = false # Enable or disable the mention handler (/tags command && mention responses)
Whitelist = true # Enable or disable the whitelist feature (!!WARN: requires DatabaseIntegration and MentionHandler, if disabled all users are allowed)
QRcodeGenerator = false # Enable or disable the QR code generator feature
FSQuiz = false # Enable or disable the quiz feature
FSQuizScheduledSends = false # Enable or disable scheduled quiz sends
Memes = true # Enable or disable all the memes features

[Paths]
LogFilePath = './data/logFile.log' # Path to the log file

[ScheduledQuestions.Engineering]
GroupID = '-GroupID' # Telegram group ID for the Engineering area
Threads = ['1', '2'] # List of scheduled question thread IDs for the Engineering area
Scheduling = ['*/1 * * * *', '*/2 * * * *'] # List of cron scheduling strings for every thread in Threads
area = ['HW', "SW"] # List of area codes for the Engineering area

[ScheduledQuestions.Operations]
GroupID = '-GroupID' # Telegram group ID for the Operations area
Threads = ['3', '4'] # List of scheduled question thread IDs for the Operations area
Scheduling = ['*/1 * * * *', '*/2 * * * *'] # List of cron scheduling strings for every thread in Threads
area = ['CM', "MGT"] # List of area codes for the Operations area
